[display_conf]
user_display = displayName

[teams]
5 minute delay = 5-minute-delay
2 minute delay = 1-minute-delay
SRE = team-QAK5tMnbkr3RJRHx
corpsec-eng = team-LJ6QFXr59tgDRwdf
Endpoint = team-9ZEOclBt37yVBtTg
Duo Desktop = team-iwOPzWtkAIp6kfUo
TCE = team-TZJdKmwGSfT3qx0j
cloudsso = team-xEFOy9ft4zQjqMz8
SRE Leads = team-uUiEjIHJXAw0F4ym
cloudseceng-tools = team-8N1z2x2I6fzlHTGr
cloudseceng-infra = team-wisQ1ukgdViaic6M
SRE Testing Sandbox DoNotPage = team-hc9Rewi4en47lBlY
Eng Gameday = team-ic5sR28S38OCBpOo
SRE Observability = team-hNayHgHuwZNqJUBo
EventStreams = team-7edZeIcomqw8yz4L
SRE Performance = team-0zvVg8DBCTFd5dLi
SRE Applications = team-ocjfmxCGCGrdYgfJ
SRE Runtime = team-XLCleQWQxNB2WHsu
Productivity Engineering = team-1I4aKFNuScQibgcO
Data Streaming = team-9myNbG1PJHv8y54t
SRA - DNG = team-1bo5pykakYi0YThE
Passport = team-R1BZ8bAX61tK9UeA
endpoint-identity = team-05vxUFwtHRAGiCCI
Passwordless (PWL) = team-5h4H4rETJGx4d6z0
Trust Engine = team-i9upNRVFKxcWTDwk
MFA Experience = team-7bj5WsnVmNCdYl0C
endpoint-localauth = team-KNRAg5ajxO850zjH
Platform-Core = team-ORMK7wiOygMwxmY5
Mobile App = team-GUNqxsxp7HjAg30U
Applications = team-DehKy1LuixchxEbi
Customer Systems Platform = team-nhKTcbipm7UZrEUa
SRE Fed = team-oUR7Xq0XxHhzIT9j
Platform-Services = team-1z9FXy224k5xWjrM
SRE Onboarding = team-1WymBdgVtk8Nu8Jl
SRE Risk and Compliance = team-5az0c3QnCGdRw9Nj
Session Trust = team-ZndCYdiFAt7UzFJG
duo-web = team-6tAtmoVKoLAUIgRf
SRE APJC = team-gbeKf4zTu0KEY3pv
SRE Cloud = team-JJXAU2h4JVaZ60EC
Endpoint OS Logon = team-eDaN9xgkrvfkZX57
Endpoint Enterprise Applications = team-qKXsSDFmYl5H32Ts
Product Insights Enablement = team-HSlVxmhRG0qPMgyc
Data Core = team-moygCC3P4pnOrURV
ML Infrastructure = team-cERsUWDy4QsoXjnv
Policy = team-cJru8g6cxCZUtKLy
Olympics = team-p1sqxZH4ovRZ5esW
Core Auth = team-HyOv5U02v7fLzFd9
Incident-Management = team-z95vnLRy284XmU9d
TCE On-Call = team-Gj48VgjPFLeFHSmH
SRE Shepherds = team-2n9Fy96aX1bteDyB
TSMs for On-Call = team-TdPa3MNQPAjKJb2G
redalert-cloudsec = team-hH8hhbxQPQrq3By4
SRE EMEA = team-2GOYUp8p3r7Ba94Y
IMO paging test = team-MDLEswySJD0gzUAW
admin-experience-platform = team-k7qv8q6E8MScsgyB
duo-directory = team-jAyTiBSiiyygnKJL
US-Kubernetes SMEs = team-4sze6P6BlbT2TOXw
APJC-Kubernetes-SMEs = team-KnFpIR9iVaNlCJXI
EMEA-Kubernetes SMEs = team-QK5DlgssZdoU2ewp
Unified Detection = team-2gNwLF3SjJu4CZC9
Release Engineering = team-4zrQfx1r6O57iWaL
Reliability Engineering = team-DUS1sG747NDOMR2o
AI Assistant = team-SnsqaFHNGd3o3Vd2
TCE On-Call Rory Test = team-XPg1br5MyW6OOLpE
redalert-security = team-dzCpT7i67OHU9E52
Cisco Identity Intelligence = team-krMn5wZPHogUlXRX
Business Systems (IN) = team-dMxbPfgJ8JlwXvVY
SRE India = team-xTPAEkzp5eeQMF1j
Productivity Engineering Escalations = team-9kohyxGZ0J8okXho
SRE Security = team-yxdTgLdx3JZEZUJ4
SRE Fed Onboarding = team-RaUykOLykmX4B0aj
TrustedPath Config Service = team-GJ4heluiFVHygkAN
CII Identity Analytics = team-31570lfNH3CahTDV
ddas = team-ZC6jQOL8vUvmMEbI